version: "3"
services:
  portainer:
    container_name: "portainer"
    image: "portainer/portainer-ce:latest"
    volumes:
      - "portainer-db:/data"
      - "/run/user/{{ rootless_user_uid }}/docker.sock:/var/run/docker.sock"
    restart: always
    ports:
      - "9443:9443"

volumes:
  portainer-db:
    name: "portainer-db"