<html>
<head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
	<meta name="description" content="{{ title }}">
	<style>
	@page {
	counter-increment: page;
		@bottom-right {
			background-color: #4869EE;
            color: #D4DCFF;
			content: counter(page);
			height: 1cm;
			text-align: center;
			width: 1cm;
		}
	}
	@page :first {
		background-color: #1B1E3D;
		background-size: cover;
		margin: 0;
	}
    @page :blank {
        @bottom-right { background: none; content: '' }
        @top-center { content: none }
        @top-right { content: none }
    }

	html {
		color: black;
		margin: 0;
	}

    h1{
        color: #4869EE;
    }

	#cover {
        color: #D4DCFF;
	}
    #cover div{
        font-size: 13pt;
        bottom: 2%;
        position: absolute;
        left: 30%;
    }
	#cover h1 {
		font-size: 38pt;
		margin: 5cm 2cm 0 2cm;
		width: 100%;
	}

	#cover h2{
		margin: 0 3cm 0 3cm;
		width: 100%;
	}

    .table_list{
        padding-bottom: 5%;
    }

    table.table_status{
        margin-bottom: 5%;
    }

    div.title_args{
        color: #a9a;
        font-size: 12pt;
        font-weight: bold;
        padding-right: .30cm;
        text-transform: uppercase;
        text-align: left;
    }

    .table_list th {
        color: #a9a;
        font-size: 12pt;
        font-weight: 400;
        padding-right: .30cm;
        text-transform: uppercase;
        text-align: left;
    }

    .table_list caption.table_title {
        font-weight:bold;
        font-size: 16pt;
        padding-bottom: 2%;
    }

    table.table_status  {
        border-collapse: collapse;
        width: 100%;
        padding-bottom: 5%;
    }
    .table_status caption.table_title {
        font-size: 21pt;
        text-align: center;
        padding-bottom: 2%;
    }
    .table_status th {
        border-bottom: .2mm solid #a9a;
        color: #a9a;
        font-size: 10pt;
        font-weight: 400;
        padding-bottom: .25cm;
        text-transform: uppercase;
    }
    .table_status td {
        padding-top: 2mm;
    }
    .table_status th, .table_status td {
        text-align: center;
    }

    tr.args{
        margin-left: 5%;
        color: rebeccapurple;
    }

	article {
		break-before: always;
	}

    .ok{
        color: #617F65;
    }

    .changed {
        color: #A75830;
    }

    .failed:not([text="0"]) {
        color: red;
    }
	</style>
</head>

<body>
	<article id="cover">
		<h1>{{ title }}</h1>
		<h2>{{ subtitle }}</h2>
        <div>Made with WeasyPrint  -  Version {{ version }}</div>
	</article>
	
    <article id="playbook">
        <h1>Playbook</h1>
        <table class="table_list">
        <caption class="table_title"></caption>
        <tr>
            <th>Playbook name</th>
            <td>{{ playbook.get_plays()[0] }}</td>
        </tr>
        <tr>
            <th>Start time</th>
            <td>{{ start_time }}</td>
        </tr>
        <tr>
            <th>End time</th>
            <td>{{ end_time }}</td>
        </tr>
        <tr>
            <th>Time of execution</th>
            <td>{{ time }}</td>
        </tr>
        <tr>
            <th>Path</th>
            <td>{{ playbook._basedir }}/{{ playbook._file_name }}</td>
        </tr>
        </table>
        {% for host in hosts %}
        <table class="table_status">
        <caption class="table_title">{{ host }}</caption>
        <thead>
            <tr>
            <th>Ok</th>
            <th>Changed</th>
            <th>Unreachable</th>
            <th>Failed</th>
            <th>Skipped</th>
            <th>Rescued</th>
            <th>Ignored</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td class="ok">{{ hosts[host]['ok'] }}</td>
            <td class="changed">{{ hosts[host]['changed'] }}</td>
            <td class="unreachable">{{ hosts[host]['dark'] }}</td>
            <td class="failed">{{ hosts[host]['failures'] }}</td>
            <td class="skipped">{{ hosts[host]['skipped'] }}</td>
            <td class="rescued">{{ hosts[host]['rescued'] }}</td>
            <td class="ignored">{{ hosts[host]['ignored'] }}</td>
            </tr>
        </tbody>
        </table>
        {% endfor %}
	</article>

    {% if gather_facts %}
	<article id="hosts">
    <h1>Hosts</h1>
    {% for host in gather_facts %}
    <table class="table_list">
        <caption class="table_title">{{ host }}</caption>
        <tr>
            <th>Server name</th>
            <td>{{ gather_facts[host].ansible_hostname }}</td>
        </tr>
        <tr>
            <th>OS</th>
            <td>{{ gather_facts[host].ansible_system }} {{ gather_facts[host].ansible_architecture }}</td>
        </tr>
        <tr>
            <th>Kernel</th>
            <td>{{ gather_facts[host].ansible_kernel }}</td>
        </tr>
        {% if gather_facts[host].ansible_distribution %}
        <tr>
            <th>Distribution</th>
            <td>{{ gather_facts[host].ansible_distribution }} {{ gather_facts[host].ansible_distribution_version }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Python version</th>
            <td>{{ gather_facts[host].ansible_python_version }}</td>
        </tr>
    </table>
    {% if gather_facts[host].ansible_default_ipv4 %}
    <div class="title_args">Network</div>
    <table class="table_list">
        <tr>
            <th>Interface</th>
            <td>{{ gather_facts[host].ansible_default_ipv4.interface }}</td>
        </tr>
        <tr>
            <th>IP</th>
            <td>{{ gather_facts[host].ansible_default_ipv4.address }}</td>
        </tr>
        <tr>
            <th>Gateway</th>
            <td>{{ gather_facts[host].ansible_default_ipv4.gateway }}</td>
        </tr>
        <tr>
            <th>Network</th>
            <td>{{ gather_facts[host].ansible_default_ipv4.network }}/{{ gather_facts[host].ansible_default_ipv4.prefix }}</td>
        </tr>
    </table>
    {% endif %}
    {% endfor %}
    </article>
    {% endif %}

	<article id="tasks">
        <h1>Tasks</h1>
        {%- for task in tasks %}
        <table class="table_list">
        <caption class="table_title">{{ task.get_name() }}</caption>
        <tr>
            <th>Line on playbook</th>
            <td>{{ task.get_path() }}</td>
        </tr>
        <tr>
            <th>Action</th>
            <td>{{ task._action }}</td>
        </tr>
        </table>
        {% if task._args %}
        <div class="title_args">Arguments</div>
        <table class="table_list">
        {% for arg in task._args %}
        <tr class="args">
            <th>{{ arg }}</th>
            <td>{{ task._args[arg] }}</td>
        </tr>
        {% endfor %}
        </table>
        {% endif %}
        {%- endfor %}
	</article>
    {{ gather_facts["localhost"] }}
</body>
</html>
